<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @weight_history.user.name %>
</p>

<p>
  <strong>Weight:</strong>
  <%= weight_comment(@weight_history.weight) %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @weight_history.memo %>
</p>

<%= link_to 'Edit', edit_weight_history_path(@weight_history) %> |
<%= link_to 'Back', weight_histories_path %>
